@model BootCamp2_6weekEnd.Models.Premission

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Premission</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ISCategory" /> @Html.DisplayNameFor(model => model.ISCategory)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ISProduct" /> @Html.DisplayNameFor(model => model.ISProduct)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ISCustomer" /> @Html.DisplayNameFor(model => model.ISCustomer)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ISEmployee" /> @Html.DisplayNameFor(model => model.ISEmployee)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ISOrder" /> @Html.DisplayNameFor(model => model.ISOrder)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ISOrderDetails" /> @Html.DisplayNameFor(model => model.ISOrderDetails)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeId" class="control-label"></label>
                <select asp-for="EmployeeId" class ="form-control" asp-items="ViewBag.EmployeeId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

