@model BootCamp2_6weekEnd.Models.Premission

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Premission</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ISCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ISCategory)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ISProduct)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ISProduct)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ISCustomer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ISCustomer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ISEmployee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ISEmployee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ISOrder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ISOrder)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ISOrderDetails)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ISOrderDetails)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employee.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
