@model IEnumerable<BootCamp2_6weekEnd.Models.Premission>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ISCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ISProduct)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ISCustomer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ISEmployee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ISOrder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ISOrderDetails)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ISCategory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ISProduct)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ISCustomer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ISEmployee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ISOrder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ISOrderDetails)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
